In [1]:
import numpy as np 
import pandas as pd

In [11]:
df = pd.read_csv("/home/shuyu/others/cs315/data/all.csv")

In [8]:
import glob
import time

from nltk import ngrams
from nltk.tokenize import sent_tokenize
import nltk

from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

[nltk_data] Error loading punkt: <urlopen error [Errno 111] Connection
[nltk_data]     refused>
[nltk_data] Error loading stopwords: <urlopen error [Errno 111]
[nltk_data]     Connection refused>
[nltk_data] Error loading wordnet: <urlopen error [Errno 111]
[nltk_data]     Connection refused>

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
temp = CountVectorizer(min_df=2, max_df=0.7, stop_words=stopwords.words('english'))
t1 = temp.fit_transform(df['Sentence'].values.astype('U')).toarray()
vocabulary = temp.get_feature_names()

In [34]:
vectorizer = CountVectorizer(min_df=2, max_df=0.7, stop_words=stopwords.words('english'), vocabulary=vocabulary)

In [35]:
train = pd.read_csv("/home/shuyu/others/cs315/data/train.csv")
val = pd.read_csv("/home/shuyu/others/cs315/data/val.csv")
test = pd.read_csv("/home/shuyu/others/cs315/data/test.csv")

In [36]:
posts = vectorizer.fit_transform(test['Sentence'].values.astype('U')).toarray()

In [38]:
t1.shape

(33726, 10319)

In [39]:
posts.shape

(3374, 10319)

In [14]:
transformed_posts=pd.DataFrame(posts)

In [15]:
df=pd.concat([df,transformed_posts],axis=1)

In [16]:
df

,Sentence,Label,0,1,2,3,4,5,6,7,...,10309,10310,10311,10312,10313,10314,10315,10316,10317,10318
0,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,""" or pg_sleep ( __TIME__ ) --",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,create user name identified by pass123 tempora...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,%29,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,' AND 1 = utl_inaddr.get_host_address ( ( S...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33721,syrett,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33722,arrechea bellveh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33723,1664,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33724,almaluez,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33725,f6lo40r06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X=df[df.columns[2:]]

In [18]:
y=df['Label']

In [20]:
X

,0,1,2,3,4,5,6,7,8,9,...,10309,10310,10311,10312,10313,10314,10315,10316,10317,10318
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33721,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33724,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0